body {
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    min-height: 100vh;
    max-height: 600vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    min-height: 10vh;
}

nav {
    max-width: 100%;
    display: flex;
    padding: 4px 16px;
    margin: auto auto;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

main {
    min-height: 60vh;
    background-color: deepskyblue;
    color: black;
}

div > p {
    font-size: 1.25rem;
    font-weight: 300;
}

div > a {
    display: inline-block;
    border: solid black 1px;
    border-radius: .25rem;
    background-color: skyblue;
    text-decoration: none;
    padding: .375rem .75rem;
}

footer {
    min-height: 30vh;
    background-color: black;
    color: whitesmoke;
}

a {
    color: white;
    outline: none;
    padding: 2px 1px 0;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid;
    color: black;
}

#home {
    position: relative;
    overflow: hidden;
    text-align: center;
}

#home > div {
    margin: 3rem auto;
}

#link_logo {
    border-bottom: none;
}

#product {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#product > div {
    overflow: hidden;
    text-align: center;
    padding: 1rem 3.5rem;
    margin: 1rem;
    background-color: dodgerblue;
}

#product > p {
    font-size: 1.25rem;
    font-weight: 300;
}

#product > img {
    width: 100%;
    border-radius: 21px 21px 0 0;
}

